<h1>Admin</h1>
<div class="card">
  <div class="card-header">Core</div>
  <ul class="list-group list-group-flush list-group-item-action">
    <a class="list-group-item list-group-item-action disabled">Albums</a>
    <a class="list-group-item list-group-item-action disabled">Comments</a>
    <a class="list-group-item list-group-item-action disabled">Photos</a>
    <a class="list-group-item list-group-item-action disabled">Posts</a>
    <a class="list-group-item list-group-item-action disabled">Todos</a>
    <a class="list-group-item list-group-item-action" [routerLink]="['/user']">Users</a>
  </ul>
</div>