<h1>Login</h1>
<div class="alert alert-danger" *ngFor="let nonFieldError of nonFieldErrors">{{ nonFieldError }}</div>
<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="username" class="col-form-label col-sm-2">Username</label>
    <div class="col-sm-10">
      <input id="username" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('username')}" type="text" name="username" formControlName="username" required>
      <div class="invalid-feedback">
        {{ getFieldError('username') }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-form-label col-sm-2">Password</label>
    <div class="col-sm-10">
      <input id="password" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('password')}" type="password" name="password" formControlName="password" required>
      <div class="invalid-feedback">
        {{ getFieldError('password') }}
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>