<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/admin']">Admin</a>
    </li>
    <li class="breadcrumb-item active">Users</li>
  </ol>
</nav>
<div class="d-flex justify-content-between">
  <h1>Select user to change</h1>
  <a class="btn btn-primary align-self-center" [routerLink]="['/user', 'add']">Add user</a>
</div>
<div class="row">
  <div class="col-8">
    <form class="form-inline mb-3" novalidate (submit)="onSearch()">
      <input class="form-control" type="text" name="query" [formControl]="queryControl">
      <button class="btn btn-primary ml-1" type="submit">Search</button>
    </form>
    <table class="table">
      <thead class="table-active">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
          <th scope="col">Staff status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; trackBy: trackByUsers" [routerLink]="['/user', user.id, 'change']">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.isStaff }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <div class="card bg-primary">
      <div class="card-header text-white">Filters</div>
    </div>
    <div class="card mt-3">
      <div class="card-header">Is staff</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" [ngClass]="{'list-group-item-secondary': !hasFilter('is_staff')}" (click)="removeFilter('is_staff')">All</li>
        <li class="list-group-item" [ngClass]="{'list-group-item-secondary': filters?.is_staff === true}" (click)="setFilter('is_staff', true)">Yes</li>
        <li class="list-group-item" [ngClass]="{'list-group-item-secondary': filters?.is_staff === false}" (click)="setFilter('is_staff', false)">No</li>
      </ul>
    </div>
  </div>
</div>
