<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/admin']">Admin</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/user']">Users</a>
    </li>
    <li class="breadcrumb-item active">Add user</li>
  </ol>
</nav>
<h1>Add user</h1>
<div class="alert alert-danger" *ngFor="let nonFieldError of nonFieldErrors">{{ nonFieldError }}</div>
<form novalidate [formGroup]="userForm" (ngSubmit)="onSave()">
  <div class="form-group row">
    <label for="username" class="col-form-label col-sm-2">Username</label>
    <div class="col-sm-10">
      <input id="username" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('username')}" type="text" name="username" formControlName="username" required>
      <div class="invalid-feedback">
        {{ getFieldError('username') }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="firstName" class="col-form-label col-sm-2">First name</label>
    <div class="col-sm-10">
      <input id="firstName" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('firstName')}" type="text" name="firstName" formControlName="firstName" required>
      <div class="invalid-feedback">
        {{ getFieldError('firstName') }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="lastName" class="col-form-label col-sm-2">Last name</label>
    <div class="col-sm-10">
      <input id="lastName" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('lastName')}" type="text" name="lastName" formControlName="lastName" required>
      <div class="invalid-feedback">
        {{ getFieldError('lastName') }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-form-label col-sm-2">Email</label>
    <div class="col-sm-10">
      <input id="email" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('email')}" type="text" name="email" formControlName="email" required>
      <div class="invalid-feedback">
        {{ getFieldError('email') }}
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>